h1 {
  font-size: 30px;
  line-height: 1.5;
  font-family: sans-serif;
}
p {
  font-size: 22px;
  line-height: 1.5;
  font-family: sans-serif;
}
.pfp {
  grid-area: pfp;
}
.intro {
  grid-area: intro;
}
.linkedin {
  color: black;
  text-decoration: none;
  border-radius: 50%;
  margin-left: 24%;
  position: relative;
}
.cv {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}
.profilepic {
  margin-top: 5%;
  margin-left: 30%;
  border-radius: 50%;
}
body {
  background-color: peachpuff;
}
.main_div {
  height: 100%;
  width: 100%;
  background-color: transparent;
  display: grid;
  grid-template-areas:
    "pfp pfp"
    "intro intro";
}
.bio {
  margin-left: 30%;
  margin-right: 30%;
}

.cv {
  margin-top: 1.75%;
  margin-left: 33%;
  position: relative;
  font-size: 20px;
}
